.cont{
	background-color: #fff;
}

@font-face{
	font-family: varelaRound;
	src: url(../fonts/VarelaRound-Regular.ttf);
}

.red { color: #b80e06; }
.blue { color: #265be0; } /* 38,91,224 */

.layerOption {
	height: 25px;
	border: 1px #ccc solid !important;
}

body{
	font-family: Helvetica, sans-serif;
	background-color: lightgray;
	font-size: 11px;
}
.row{
	padding: 5px;
}

a {
	text-decoration: none;
	/*color: white;*/
	outline: 0;
}
a:focus {
	outline: 0;text-decoration: none;
}
a:hover {
	text-decoration: none;
	/*color: white;*/
	cursor: pointer;
}

.topicName {
	color: white;
	font-weight: bold;
	/*text-shadow: 2px 2px 3px #FF5555;*/
}

.pageTitle {
	margin-bottom: 15px;
	font-size: 14px;
	text-align: left;
	padding-left: 30px;
	background-color: rgba(0,0,0,0.05);
}

#menuTopic a {
	text-align: center;
	margin-top: 5px;
	color: white;
	text-shadow: 1px 1px 10px #FFFF00;
}

.descrLink {
	color: rgba(38,91,224,1);
}
.descrLink:hover{
	text-shadow: 1px 1px 3px #FFFFFF;
	color: rgba(38,91,224,1);
}

#top {
	/*border-bottom: 1px lightgray solid; */
	box-shadow: 0px 2px 5px #808080;
	padding: 0px;
}
#bigLogo{
	padding-top: 10px;
}
#bigLogo, #bigDescr{
	cursor: pointer;
	height: 100px;
	margin: 0px;
}

#divTitle {
	height:60px;
	text-align:center;
	background-color: rgba(0,0,0,0.2);
	border: 1px gray solid;
	border-top: 0px;
	cursor: pointer;
	line-height: 20px;
    padding-top: 20px;
}

#topicSelection, .topicSelectionSmall {
	background-color: #B80E06;
    border: 1px solid #808080;
    /*box-shadow: 2px 0 5px #808080, 0 2px 5px #808080;*/
	box-shadow: 0px 2px 6px #808080, 0px 2px 6px #999;
    color: white;
    padding: 5px 10px;
}
#topicSphereMenu {
	background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #808080;
    /*box-shadow: 2px 0 5px #808080, 0 2px 5px #808080;*/
	box-shadow: 0px 2px 6px #808080, 0px 2px 6px #999;
    padding: 5px 10px;
	cursor: pointer;
}


.menuRect {
	display: block;
	height: 40px;
	background: center;
	background-color: rgba(184,13,7,0.5);
	border-right: 1px gray solid;
	color:white;
	cursor: pointer;
	background-size:100% 150%;
	font-size: 14px;
	box-shadow: inset 1px 1px 1px #FBB;
}
.menuRect.disabled {
	background-color: rgba(0,0,0,0.2);
	box-shadow: none;
	cursor: default;
	color: #444;
}

.menuRect:hover{
	background-color: rgba(184,13,7,0.55);
	color:white;
}
.menuRect.selected {
	background-color: rgba(184,13,7,1);
	color:white;
}

.menuLang {
	display: block;
	height: 30px;
	background: center;
	background-color: rgba(184,13,7,0.5);
	border-right: 1px #AAA solid;
	border-top: 1px #AAA solid;
	border-bottom: 1px #AAA solid;
	color:white;
	cursor: pointer;
	background-size:100% 150%;
	font-size: 14px;
	box-shadow: inset 1px 1px 1px #FBB;
}
.menuLang.disabled {
	background-color: rgba(0,0,0,0.2);
	box-shadow: none;
	cursor: default;
	color: #444;
}
.menuLang.hover{
	background-color: rgba(184,13,7,0.55);
	color:white;
}
.menuLang.selected {
	background-color: rgba(184,13,7,1);
	color:white;
}

.line1 {
	line-height: 40px; /* 100px 120px */
}
.line3 {
	line-height: 30px; /* 100px 120px */
}
.line2 {
	/*line-height:20px;
	padding: 30px 0px;*/
}

.chartTitle {
	text-align: left;
	font-size: 15px;
	background-color: #424242;
	color: white;
	padding-left: 10px;
}
.chart {
	margin: 0 auto;
	text-align: center;
	background-color:rgba(255,255,255,1); /* 0.5 */
	border: 1px solid lightgray;
	border-top: 0px;
}
.axisOccurrences {
	color: #265be0
}
.axisSentiment {
	color: #FFFF00;
}
.cont{
	box-shadow: 1px 1px 5px #808080;
	padding: 0px;
}
.contLeft{
	margin-right: 5px;
}
.contRight{
	margin-left: 5px;
}

.chart .axis {
	shape-rendering: crispEdges
}

#namePopularTopic {
	color: #00DD00;
}
#nameUnpopularTopic {
	color: #FF4040;
}






/**/


.bar {
  /* fill: steelblue; */
  fill: #265be0;
}

.bar:hover {
  /* fill: brown; */
  fill: #b80e06;
}

.axis {
  font: 1px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*.x.axis path {
  display: none;
}*/

.line {
  fill: none;
  /* stroke: steelblue; */
  stroke: #ff7f0e;
  stroke-width: 2px;
}

.node {
  stroke-width: 1.5px;
  font-size: 12px;
}

.link {
	stroke: #999;
	stroke-opacity: .6;
	stroke-width: 3px;
}
.link:hover {
	/*stroke: #b80e06 !important;*/
}


.grid {
	fill: none;
}
.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}
.intertopicLink{
	stroke: #000;
}
.clickableLink{
	cursor: pointer;
}
.hoverable{
	cursor: pointer;
}
.hoverable:hover{
	font-size: 12px;
}

div.tooltipChart {
  position: absolute;
  text-align: left;


  padding: 5px 10px;
  font-size: 12px;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.topic0 {
	stroke: green;
}
.topic1 {
	stroke: red;
}
.linkedToTopic{
	font-weight: bold;
}
.linkedToTopic:hover{
	font-size:14px;
	cursor: pointer;
}
.wordLinkedToTopic{
	/*-moz-text-shadow: 5px 5px 5px #000;*/
}
.wordLinkedToTopic:hover{
	stroke: black;
	cursor: pointer;
}


.levelNode {
	color: red;
}
.inputLabel {
	width: 140px;
    text-align: left;
	margin-top: 5px;
}
.inputLabel1 {
	width: 50px;
    text-align: left;
	margin-top: 5px;
}
.inputLabel2 {
	width: 190px;
    text-align: left;

}
.input-group{
	margin-top: 5px;
	width: 100%;
}

.chartOnto {
	margin: 0 auto;
	text-align: center;
	background-color:rgba(255,255,255,0.9);
	border: 1px solid lightgray;
	border-top: 0px;
	border-bottom: 0px;
	overflow: scroll;
}

.selOptTitle {
	font-size: 14px;
}
.selOptHeading:hover{
	background-color: rgba(38,91,224,0.5);
}
.selOptHeading {
	padding: 5px;
}
.selOptTitleLink {
	display:block;
	text-align: left;
}
.selOptTitleLink:hover{
	text-decoration: none;
	color: black;
}

.textResearch {
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	background-color:rgba(255,255,255,0.5);
	border: 1px solid lightgray;
	border-top: 0px;
}

.slider{
	width: 100%;
}
.sliderCont:disabled{
	background-color: #DDDDDD;
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

.modal {
    overflow-y: auto;
}
.selOptTopicSelect button, .selOptSelect button {
	border-radius: 0px;
}
.selOptTopic, .addSelOpt {
	cursor: pointer;
}

.separator {
	text-align: center;
	font-size: 15px;

	color: black;
	padding: 2px;
	margin: 5px 0px;
/*
	  background-color: #ddd;
	  background-repeat: repeat-x;
	  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#ccc));
	  background: -webkit-linear-gradient(top, #ccc, #ddd);
	  background: -moz-linear-gradient(top, #ccc, #ddd);
	  background: -ms-linear-gradient(top, #ccc, #ddd);
	  background: -o-linear-gradient(top, #ccc, #ddd);*/
}
.separator.bt{
	border-top: 1px dotted #BBB;
}

.badge{
	background-color: #D4D4D4;
    border-radius: 3px;
    color: #666666;
	padding: 4px 7px;
}


#changelog h4 {
	font-weight: bold;
}
#changelog ul{
	padding-left: 15px;
}
#changelog li {
	font-size: 12px;
}

.titleStats{
	float:right;
	margin: 4px 10px 0 0;
	font-size: 11px;
}

.node0 { fill: #1f77b4;}
.node1 { fill: #ff7f0e;}
.node2 { fill: #2ca02c;}
.nodeText0 { fill: #000; text-shadow: 1px 1px 0 #d4e8ff; }
.nodeText1 { fill: #000; text-shadow: 1px 1px 0 #ffebd4; }
.nodeText2 { fill: #000; text-shadow: 1px 1px 0 #e7fed3; }

.flagOnly {
	height: 27px;
}
.flagOnly > .input-group-addon {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.olMapClass {
        height: 500px;
        width: 100%;
      }


#dataStatValues {
	text-align: left;
	font-size: 14px;
	background-color: #fff;
	padding: 10px 5px;
}

#dataStatValues table{
	width: 100%;
}
.statValue{
	width: 100%;
}
#dataStatValues td{
	padding: 4px;
	border: lightgray 1px solid;
	white-space: nowrap;
}
.selectableDate{
	background-color: rgb(210,230,255);
}

.trapImg{
	max-width: 150px;
	margin: 10px;
	display:inline-block;
}
.trapImgDescr{
	margin: 2px 0 0 0;
}

.mapButton{
	top: 60px;
	left: .5em;
}

#ig_dt_date .inputLabel {
	width: 50px;
}
