* {
  /*#border: 1px solid red;*/
  /*font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';*/
  text-decoration: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  word-wrap: break-word;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.open-modal{
  border-radius: 20px;
  padding: 0.3em 0em;
  margin: 0.6em 0em;
}
.open-modal:hover{
  background-color: rgb(165, 165, 165);
}

html, body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  align-content: flex-start;

  margin: auto;
}

body > * {
  width: 100%;
}

header {
  width: 100%;
}

h1 {
  color:#FFF;
  text-align:left;
  font-family:Verdana;
  font-size:120%;
  font-style:italic;
  margin-left:5%;
  text-shadow: 4px 4px #000;
}

#disclaimer {
  padding:5px;
  font-family:monospace;
  color:#FFF;
}

/*
 * HEADER & FOOTER
*/
body > header, body > footer {
  top:0;
  left:0;
  margin: 0;
  padding: 5px;
  opacity: 1;
  background-color: #428bca;
  color: black;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
}

footer {
  position:relative;
  order: 999;
}

/*
 * LOGO
*/
#headerTitle {
  order: 1;
  padding: 5px;
  margin: auto;
  white-space: nowrap;
}

#headerTitle > * {
  margin: 3%;
}

/*
 * LOGIN
*/
#login {
  order: 3;
  white-space: nowrap;
}

#login img {
  vertical-align: middle;
}

/*
 * MENU
*/
#menu {
  width: 100%;
}

nav {
  order: 2;
  z-index: 888;
  display: block;
  font-size: 120%;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: auto;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

nav li a:hover {
  background-color: grey;
}

nav li.dropdown {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content li {
  width: 100%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*
 * CONTENUTO PAGINA
*/
#container, .cost-model-form {
  display:flex;
  flex-flow:row wrap;
  justify-content:flex-start;
  align-content:space-around;
}

#container {
  order: 3;
}

#container > * {
  margin: 1em;
}

/*
 * FORM & TABLE
*/
.message-ok, .message-warning, .message-error {
    text-align: center;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 20px;
    width: 100%;
}

.message-error {
  background-color: #ff7e90;
}

.message-warning {
  background-color: #ffff9d;
}

.message-ok {
  background-color: #acffac;
}

form, .form {
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

form label {
  padding: 1em 0em;
  width: 47%;
  margin: auto;
}

label > input,select {
  display: block;
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form table label {
  display: inherit;
}

.card_label{
  width: 100%;
  margin: 0.5em 1em;
}

.actions {
  width: 100%;
  margin: 0;
  text-align: center;
  /*display: flex;*/
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.actions > * {
  display: inline-block;
}

form .actions > * {
  margin: 0.5em;
  flex: 0 1 100%;
}

form textarea {
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  resize: vertical;
  overflow: auto;
}

form .actions > input[type=button], input[type=submit] {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  flex: 1 0 1%;
  text-align: center;
}

form .actions > input[type=button]:hover, input[type=submit]:hover, button:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.actions > a {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0.5em;

  flex: 1 0 1%;
  text-align: center;
}

.actions > a:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.actions > button {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0.5em;
  text-align: center;

  width:40%;
}

.actions > button:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}



table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

.compact-table {
  margin-top: 2em;
}

.compact-table td {
  padding: 5px;
}

.cost-model-form {
  display: flex;
}

.cost-model-form > * {
  width: 1%;
}


/*
 * GENERICI
 */
h2 {
  text-align:center;
  font-family:Times;
  color:#000;
  font-size:24px;
  font-style: italic;
  padding:10px;
  border-bottom:2px groove #000;
  border-top:2px groove #000;
  margin-left:10%;
  margin-right:10%;
}

p {
  font-family:Verdana;
  font-size:12px;
  font-weight:normal;
  color:#000;
}

section {
  border: 1px groove black;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  flex-grow: 1;
}

.no-border{
    border:hidden;
    padding:2em;
}

.table-query{
  background-color: white;
}

.table-total{
  width:40%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.verticalTxt {
	transform: rotate(90deg);
	transform-origin: top 0;
}

.border {
  padding: 1em;
  margin-top: 1em;
  border: 2px solid #428bca;
  border-radius: 4px;
}

/*
 * DAG
 */
.expandeable, .section_title {
  font-weight: bold;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px dashed black;
}
.expandeable, .clickable {
  cursor: pointer;
}
.compactable {
 border-width: 1px;
 border-color: black;
}

/*
 * COMPATIBILITY
 */

@media all and (max-width: 800px) {
  body {
    flex: auto;
    width: auto;
  }

 .products {
   width: 100%;
 }

 form label {
   width: 100%;
 }

 table {
   display: block;
   overflow-x: auto;
 }

 form, .form {
   display: block;
   overflow-x: auto;
 }

}

@media all and (max-width: 600px) {

  #login {
    width: 100%;
    order: 1;
  }

  body > header {
   -webkit-flex-flow: column wrap;
   flex-flow: column wrap;
   padding: 0;
  }

  nav li {
   width: 100%;
  }

  nav a {
   text-align: center;
   padding: 10px;
   border-top: 1px;
   border-bottom: 1px;
  }

  nav li:last-of-type a {
   border-bottom: none;
  }

  .dropdown-content {
    position: relative;
    width: 100%;
  }

  .dropdown-content a {
    text-align: center;
  }

  #container {
    width: 100%;
  }

  section, .border {
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%
  }

  form > *, .form > *, .cost-model-form > * {
    width: 100%;
  }

  .btn-group button {
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}



}
